@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #18181b;
  }

  * {
    @apply border-zinc-200;
  }

  body {
    @apply bg-zinc-50 text-zinc-900;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
